@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme{
  
  --color-background: var(--color-slate-800);
  --color-secondary: var(--color-blue-600);


  --color-primary-text: var(--color-stone-50);
  --color-secondary-text: var(--color-blue-600);

  --color-primary-border: var(--color-stone-100);
  --color-secondary-border: var(--color-blue-600); 

  --font-title-primary: "Work Sans", sans-serif;
  --font-text-primary: "Rethink Sans", sans-serif; 
}
